$nav-background: #272727;

$font-family: 'AvenirMedium';
$font-family-2:'AvenirMedium', Arial, sans-serif;
$font-family-3: 'AvenirLight', Arial, sans-serif;

$font-color-1: #000;
$font-color-2: #fff;
$font-color-3: #494845;
$font-color-4:rgba(0, 0, 0, 0.5);
$font-color-5: #828282;
$font-color-6: #FCB434;
$font-color-input: rgba(0, 0, 0, 0.75);
$font-color-form:rgba(0, 0, 0, 0.5);

$font-color-footer-1:rgba(255, 255, 255, 0.5);
$font-color-footer-2:rgba(255, 255, 255, 0.75);


$background-main:#FFFFFF;
$background-footer:#272727;
$background-input: #E6E6E6;
$background-1:#FCB434;

