<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!--Remember to edit this section! -->
		<title>Semantic website with WCAG</title>
		<meta name="description" content="Semantic, WCAG complient website">
		<meta name="keywords" content="HTML,CSS,JavaScript">
		<meta name="author" content="Michał Mietliński">
		<!--For facebook sharing -->
		<meta property="og:title" content="The Semantic hospital website" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="/" />
		<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />

		<link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <link rel="stylesheet" href="dist/css/main.css">

		<!-- Leave those below -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	</head>